<div class="text-container">
    @{
        var a = 10;
        var b = 20;
    }
    <b>a</b> değeri = @a
    <br/>
    <b>b</b> değeri = @b
    <br/>
    iki sayının toplamı <span style="color: red; font-size: larger;">@(a+b)</span>
</div>