#grid{
    display: grid;
    grid-template-columns: repeat(32, 20px);
    grid-template-rows: repeat(32, 20px);
    border: 1px solid black;
}
.pixel{
    width: 20px;
    height: 20px;
}
#renkPaleti{
    margin-top: 10px;
}
.renk{
    width: 30px;
    height: 30px;
    display: inline-block;
    margin-right: 5px;
    cursor: pointer;
}   